<ion-header>
	<ion-navbar>
		<ion-title>
			<img src="assets/logo-header.png" alt="">
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngFor="let post of posts">

		<ion-item>
			<ion-avatar item-left>
				<img [src]="post.user.profileImg">
			</ion-avatar>
			<h2>{{post.user.name}}</h2>
			<p>{{longDate(post.timestamp)}}</p>
			<ion-note item-right icon-left class="sponsor" *ngIf="post.sponsored">
				<div class="inner">
					<ion-icon name="flame"></ion-icon>
					Sponsored
				</div>
			</ion-note>
		</ion-item>

		<img (press)="placeOrder(post)" [src]="post.image">

		<ion-card-content>
			<p>{{post.caption}}</p>
		</ion-card-content>

		<ion-row padding>
			<ion-col>
				<button ion-button primary clear small icon-left>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{post.likes.length}} Likes</div>
      </button>
			</ion-col>
			<ion-col>
				<button [navPush]="commentsPage" [navParams]="post.comments" ion-button primary clear small icon-left>
        <ion-icon name="text"></ion-icon>
        <div>{{post.comments.length}} Comments</div>
      </button>
			</ion-col>
			<ion-col center text-center>
				<ion-note>
					{{ago(post.timestamp)}}
				</ion-note>
			</ion-col>
		</ion-row>

	</ion-card>
</ion-content>