<ion-header>
	<ion-navbar>
		<ion-title>
			<img src="assets/logo-header.png" alt="">
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngFor="let post of posts">

		<ion-item>
			<ion-avatar item-left>
				<img [src]="post.user.profileImg">
			</ion-avatar>
			<h2>{{post.user.name}}</h2>
			<p>{{post.restaurant}}</p>
			<ion-note item-right icon-left class="sponsor" *ngIf="post.sponsored">
				<div class="inner">
					<ion-icon name="flame"></ion-icon>
					Sponsored
				</div>
			</ion-note>
			<ion-note *ngIf="!post.sponsored" item-right>
				{{ago(post.timestamp)}}
			</ion-note>
		</ion-item>

		<div (click)="placeOrder(post)">
			<img [src]="post.image">
		</div>

		<ion-row padding>
			<ion-col>
				<button ion-button primary clear small icon-left>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{post.likes.length}} Likes</div>
      </button>
			</ion-col>
			<ion-col>
				<button [navPush]="commentsPage" [navParams]="post.comments" ion-button primary clear small icon-left>
        <ion-icon name="text"></ion-icon>
        <div>{{post.comments.length}} Comments</div>
      </button>
			</ion-col>
			<ion-col center text-center>
				<ion-icon name="star" *ngFor="let item of [0,1,2,3,4]"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-card-content>
			<p>{{post.caption}}</p>
		</ion-card-content>


	</ion-card>


	<ion-list>
    <div *ngFor="let folder of folders">
      <ion-item *ngIf="folder['.tag'] == 'folder'" detail-push (click)="openFolder(folder.path_lower)">
        {{folder.name}}
      </ion-item>
      <ion-item *ngIf="folder['.tag'] == 'file'">
        {{folder.name}}
      </ion-item>
    </div>
  </ion-list>
</ion-content>