page-home {
    ion-avatar {
        position: relative;
        overflow: hidden;
        img {
    object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: auto;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}